*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fd;
    min-height:100vh;
    border: 10px  solid #000;
}
.content{
    max-width: 900px;
    margin:0 auto;
}
.top{
    margin-top: 100px; 
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top h1{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
.top h4{
    text-align: end;
    font-size: 30px;
    
}
.img-container,img{
    max-height: 320px;
    max-width: 300px;
    border-radius: 45%;
}
.about_section{
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
}
.exp_section{
    margin-top: 50px;
}
.exp_section h3{
    font-size:30px;
}
.exp_section h5{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size:20px ;
    margin-left: 50px;
}
.exp_section li{
    margin-bottom: 10px;
    margin-left: 50px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}